Repository coveo/ui-kit, changes with the owners that CODEOWNERS names for each.
All owners: @coveo/dxui, @coveo/knowledge-ui-kit-reviewers, @coveo/salesforce-integration, @coveo/search-qa, @coveo/commerce-routemasters, @coveo/shopify

CODEOWNERS:

# Default owners for everything in the repo. Later matches take precedence.

* @coveo/dxui

# Knowledge Owners
## Quantic package

/packages/quantic/ @coveo/knowledge-ui-kit-reviewers
/packages/quantic/package.json @coveo/salesforce-integration @coveo/dxui

## Generative Answering
### Headless
/packages/headless/src/api/knowledge/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/api/generated-answer/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/api/service/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/generated-answer/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/controllers/knowledge/generated-answer/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/question-answering/** @coveo/knowledge-ui-kit-reviewers

### Atomic
/packages/atomic/src/components/common/generated-answer/** @coveo/knowledge-ui-kit-reviewers
/packages/atomic/src/components/search/atomic-generated-answer/** @coveo/knowledge-ui-kit-reviewers

## Insight
### Headless
/packages/headless/src/app/insight-engine/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/controllers/insight/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/controllers/insight-interface/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/insight-interface/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/insight-search/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/insight-user-actions/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/insight-configuration/** @coveo/knowledge-ui-kit-reviewers

### Atomic
/packages/atomic/src/components/insight/** @coveo/knowledge-ui-kit-reviewers

## Case Assist
### Headless
/packages/headless/src/app/case-assist-engine/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/controllers/case-field/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/controllers/case-field/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/case-assist/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/case-assist-configuration/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/case-context/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/case-field/** @coveo/knowledge-ui-kit-reviewers
/packages/headless/src/features/case-input/** @coveo/knowledge-ui-kit-reviewers

# Owners of Atomic's Cypress Tests

/packages/atomic/cypress/ @coveo/dxui @coveo/search-qa

# Owners of Atomic IPX components

/packages/atomic/src/components/ipx @coveo/knowledge-ui-kit-reviewers

# Owners of the Commerce headless sub-package

/packages/headless/commerce/ @coveo/commerce-routemasters
/packages/headless/src/**/commerce/ @coveo/commerce-routemasters
/packages/headless/src/app/commerce-engine/ @coveo/commerce-routemasters
/packages/headless/src/state/commerce-app-state.ts @coveo/commerce-routemasters
/packages/headless/src/commerce.index.ts @coveo/commerce-routemasters
/packages/headless/src/test/**commerce** @coveo/commerce-routemasters

# Owners of the SSR sub-packages
/packages/headless/src/ssr/** @coveo/dxui
/packages/headless/src/ssr-next/** @coveo/dxui

# Owners of the Shopify headless package

/packages/shopify/ @coveo/shopify
/packages/shopify/package.json @coveo/shopify @coveo/dxui

chore: patch tracking of head branch in general, not only main
  .github/workflows/ci.yml
Owners: @coveo/dxui

docs(headless-react): update sample links in README files to use the correct path (#6086)
  packages/headless-react/COMMERCEREADME.md
  packages/headless-react/README.md
  packages/headless-react/SEARCHREADME.md
Owners: @coveo/dxui

chore: patch tracking of head branch in general, not only main (#6156)
  .github/workflows/ci.yml
Owners: @coveo/dxui

migrate atomic-external to lit
  packages/atomic-angular/projects/atomic-angular/src/lib/stencil-generated/atomic-angular.module.ts
  packages/atomic-angular/projects/atomic-angular/src/lib/stencil-generated/components.ts
  packages/atomic-react/src/components/search/components.ts
  packages/atomic-react/src/components/stencil-generated/search/index.ts
  packages/atomic/src/components.d.ts
  packages/atomic/src/components/search/atomic-external/atomic-external.mdx
  packages/atomic/src/components/search/atomic-external/atomic-external.new.stories.tsx
  packages/atomic/src/components/search/atomic-external/atomic-external.spec.ts
  packages/atomic/src/components/search/atomic-external/atomic-external.ts
  packages/atomic/src/components/search/atomic-external/atomic-external.tsx
  packages/atomic/src/components/search/atomic-external/e2e/atomic-external.e2e.ts
  packages/atomic/src/components/search/atomic-external/e2e/page-object.ts
  packages/atomic/src/components/search/atomic-refine-modal/atomic-refine-modal.tsx
  packages/atomic/src/components/search/index.ts
  packages/atomic/src/components/search/lazy-index.ts
  packages/atomic/src/utils/initialization-lit-stencil-common-utils.ts
  packages/atomic/src/utils/initialization-utils.tsx
Owners: @coveo/dxui

Migrate atomic-result-number
  packages/atomic/src/components/search/result-template-components/atomic-result-number/atomic-result-number.mdx
  packages/atomic/src/components/search/result-template-components/atomic-result-number/atomic-result-number.spec.ts
  packages/atomic/src/components/search/result-template-components/atomic-result-number/atomic-result-number.ts
  packages/atomic/src/components/search/result-template-components/atomic-result-number/atomic-result-number.tsx
  packages/atomic/src/components/search/result-template-components/atomic-result-number/e2e/atomic-result-number.e2e.ts
  packages/atomic/src/components/search/result-template-components/atomic-result-number/e2e/fixture.ts
  packages/atomic/src/components/search/result-template-components/atomic-result-number/e2e/page-object.ts
  packages/atomic/vitest-utils/testing-helpers/fixtures/atomic/search/atomic-result-fixture.ts
Owners: @coveo/dxui

Improve prompts
  .github/prompts/generate-vitest-tests-atomic-lit-components.prompt.md
  .github/prompts/migrate-stencil-to-lit.prompt.md
  .github/prompts/write-atomic-component-mdx-documentation.prompt.md
Owners: @coveo/dxui

add examples for troubleshooting
  packages/atomic/dev/examples/commerce-website/search.html
  packages/atomic/dev/examples/fashion.html
  samples/atomic/search-commerce-angular/src/app/atomic-angular-page/atomic-angular-page.component.html
  samples/atomic/search-commerce-angular/src/app/atomic-angular-search-page/atomic-angular-search-page.component.html
  samples/atomic/search-commerce-angular/src/app/atomic-commerce-angular-page/atomic-commerce-angular-page.component.html
  samples/atomic/search-commerce-react/src/components/AtomicPageWrapper.tsx
  samples/atomic/search-commerce-react/src/pages/CommerceSearchPage.tsx
Owners: @coveo/dxui

dummy commit 4ci
  README.md
Owners: @coveo/dxui

fix tests
  packages/atomic/src/components/search/atomic-external/atomic-external.spec.ts
  packages/atomic/src/components/search/atomic-external/atomic-external.ts
Owners: @coveo/dxui

plock
  package-lock.json
Owners: @coveo/dxui

fix tests
  packages/atomic/cypress/e2e/result-list/result-list-utils.ts
  packages/atomic/cypress/e2e/result-list/result-list.commons.ts
Owners: @coveo/dxui, @coveo/search-qa

fix tests
  packages/atomic/src/components/search/result-lists/atomic-folded-result-list/atomic-folded-result-list.new.stories.tsx
Owners: @coveo/dxui

cleanup stories
  packages/atomic/src/components/search/atomic-result-section-actions/atomic-result-section-actions.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-badges/atomic-result-section-badges.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-bottom-metadata/atomic-result-section-bottom-metadata.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-children/atomic-result-section-children.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-emphasized/atomic-result-section-emphasized.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-excerpt/atomic-result-section-excerpt.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-title-metadata/atomic-result-section-title-metadata.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-title/atomic-result-section-title.new.stories.tsx
  packages/atomic/src/components/search/atomic-result-section-visual/atomic-result-section-visual.new.stories.tsx
  packages/atomic/storybook-utils/search/result-list-wrapper.tsx
  packages/atomic/storybook-utils/search/result-template-section-wrapper.tsx
Owners: @coveo/dxui

cleanup
  package-lock.json
  packages/atomic/src/components/commerce/atomic-product-section-actions/atomic-product-section-actions.ts
  packages/atomic/src/components/commerce/atomic-product-section-badges/atomic-product-section-badges.ts
  packages/atomic/src/components/commerce/atomic-product-section-bottom-metadata/atomic-product-section-bottom-metadata.ts
  packages/atomic/src/components/commerce/atomic-product-section-children/atomic-product-section-children.ts
  packages/atomic/src/components/commerce/atomic-product-section-description/atomic-product-section-description.ts
  packages/atomic/src/components/commerce/atomic-product-section-emphasized/atomic-product-section-emphasized.ts
  packages/atomic/src/components/commerce/atomic-product-section-metadata/atomic-product-section-metadata.ts
  packages/atomic/src/components/commerce/atomic-product-section-name/atomic-product-section-name.ts
  packages/atomic/src/components/commerce/atomic-product-section-visual/atomic-product-section-visual.ts
  packages/atomic/src/components/search/atomic-result-section-actions/atomic-result-section-actions.ts
  packages/atomic/src/components/search/atomic-result-section-badges/atomic-result-section-badges.ts
  packages/atomic/src/components/search/atomic-result-section-bottom-metadata/atomic-result-section-bottom-metadata.ts
  packages/atomic/src/components/search/atomic-result-section-emphasized/atomic-result-section-emphasized.ts
  packages/atomic/src/components/search/atomic-result-section-excerpt/atomic-result-section-excerpt.ts
  packages/atomic/src/components/search/atomic-result-section-title-metadata/atomic-result-section-title-metadata.ts
  packages/atomic/src/components/search/atomic-result-section-title/atomic-result-section-title.ts
  packages/atomic/src/components/search/atomic-result-section-visual/atomic-result-section-visual.ts
Owners: @coveo/dxui

fix unit tests
  packages/atomic/src/components/search/atomic-result/atomic-result.spec.ts
Owners: @coveo/dxui

migrate atomic-result
  packages/atomic-angular/projects/atomic-angular/src/lib/stencil-generated/atomic-angular.module.ts
  packages/atomic-angular/projects/atomic-angular/src/lib/stencil-generated/components.ts
  packages/atomic-react/src/components/search/components.ts
  packages/atomic-react/src/components/stencil-generated/search/index.ts
  packages/atomic/src/components.d.ts
  packages/atomic/src/components/search/atomic-result/atomic-result.pcss
  packages/atomic/src/components/search/atomic-result/atomic-result.spec.ts
  packages/atomic/src/components/search/atomic-result/atomic-result.ts
  packages/atomic/src/components/search/atomic-result/atomic-result.tsx
  packages/atomic/src/components/search/atomic-result/atomic-result.tw.css.ts
  packages/atomic/src/components/search/atomic-result/e2e/page-object.ts
  packages/atomic/src/components/search/atomic-search-interface/atomic-search-interface.ts
  packages/atomic/src/components/search/index.ts
  packages/atomic/src/components/search/lazy-index.ts
  packages/atomic/src/components/search/result-lists/atomic-folded-result-list/atomic-folded-result-list.tsx
  packages/atomic/src/components/search/result-lists/atomic-result-list/atomic-result-list.tsx
  packages/atomic/src/mixins/item-section-mixin.ts
  packages/atomic/vitest-utils/testing-helpers/fixtures/headless/search/result.ts
Owners: @coveo/dxui

cleanup styles
  packages/atomic/src/components/search/atomic-result/atomic-result.ts
  packages/atomic/src/components/search/atomic-result/atomic-result.tw.css.ts
Owners: @coveo/dxui

fix e2e test
  packages/atomic/src/components/search/atomic-result/e2e/page-object.ts
Owners: @coveo/dxui

cleanup
  packages/atomic/src/components/commerce/atomic-product/atomic-product.spec.ts
Owners: @coveo/dxui

code-review
  packages/atomic/src/components/recommendations/atomic-recs-list/atomic-recs-list.new.stories.tsx
  packages/atomic/src/components/search/atomic-load-more-results/atomic-load-more-results.new.stories.tsx
  packages/atomic/storybook-utils/api/_base.ts
  packages/atomic/storybook-utils/api/search.ts
Owners: @coveo/dxui

refactor
  packages/atomic/src/components/recommendations/atomic-recs-list/atomic-recs-list.new.stories.tsx
  packages/atomic/src/components/search/atomic-load-more-results/atomic-load-more-results.new.stories.tsx
  packages/atomic/storybook-utils/api/_base.ts
  packages/atomic/storybook-utils/api/foo/search.ts
  packages/atomic/storybook-utils/api/search/mock.ts
  packages/atomic/storybook-utils/api/search/querySuggest-response.ts
  packages/atomic/storybook-utils/api/search/search-response.ts
Owners: @coveo/dxui

clean
  packages/atomic/storybook-utils/api/foo/search.ts
Owners: @coveo/dxui

chore: enable MSW in dev (#6175)
  packages/atomic/.storybook/preview.ts
  packages/atomic/src/components/search/atomic-generated-answer/e2e/mock-answering-api.ts
Owners: @coveo/dxui, @coveo/knowledge-ui-kit-reviewers

clean
  packages/atomic/src/components/recommendations/atomic-recs-list/atomic-recs-list.new.stories.tsx
  packages/atomic/src/components/search/atomic-did-you-mean/atomic-did-you-mean.new.stories.tsx
  packages/atomic/src/components/search/atomic-generated-answer/e2e/mock-answering-api.ts
  packages/atomic/src/components/search/atomic-load-more-results/atomic-load-more-results.new.stories.tsx
Owners: @coveo/dxui, @coveo/knowledge-ui-kit-reviewers

chore: validate mocked response against OpenAPI Specification
  package-lock.json
  packages/atomic/.storybook/main.mts
  packages/atomic/package.json
  packages/atomic/src/components/recommendations/atomic-recs-list/e2e/atomic-recs-list.e2e.ts
  packages/atomic/storybook-utils/api/_base.ts
  packages/atomic/storybook-utils/api/schemas/search.ts
Owners: @coveo/dxui

refacto&clean
  packages/atomic/storybook-utils/api/search/mock.ts
  packages/atomic/storybook-utils/api/search/open-api-schema.ts
  packages/atomic/storybook-utils/api/search/search-response.ts
Owners: @coveo/dxui

use oapi3.0.x compliant spec
  packages/atomic/storybook-utils/api/schemas/search.ts
Owners: @coveo/dxui

ux improved
  packages/headless/src/features/generated-answer/generated-answer-actions-loader.ts
  packages/headless/src/features/generated-answer/generated-answer-actions.ts
  packages/headless/src/features/generated-answer/generated-answer-mocks.ts
  packages/headless/src/features/generated-answer/generated-answer-slice.ts
  packages/headless/src/features/generated-answer/generated-answer-state.ts
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/quanticGeneratedAnswer.js
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/templates/generatedAnswer.html
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/templates/loading.css
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/templates/loading.html
  packages/quantic/force-app/solutionExamples/main/lwc/generateAnswerButton/generateAnswerButton.js
Owners: @coveo/knowledge-ui-kit-reviewers

lint
  packages/atomic/storybook-utils/api/_base.ts
Owners: @coveo/dxui

fix-schema-patch
  packages/atomic/storybook-utils/api/search/open-api-schema.ts
Owners: @coveo/dxui

restore baseSearchResponse
  packages/atomic/storybook-utils/api/search/search-response.ts
Owners: @coveo/dxui

e2e tests fixed
  packages/quantic/force-app/main/default/lwc/quanticTimeframeFacet/e2e/quanticTimeframeFacet.e2e.ts
Owners: @coveo/knowledge-ui-kit-reviewers

unit tests added
  packages/quantic/force-app/main/default/labels/CustomLabels.labels-meta.xml
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/__tests__/quanticGeneratedAnswer.test.js
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/quanticGeneratedAnswer.js
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/templates/generatedAnswer.html
Owners: @coveo/knowledge-ui-kit-reviewers

unit test added
  packages/headless/src/features/generated-answer/generated-answer-slice.test.ts
Owners: @coveo/knowledge-ui-kit-reviewers

small improvemnts
  packages/headless/src/features/generated-answer/generated-answer-actions-loader.ts
  packages/headless/src/features/generated-answer/generated-answer-state.ts
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/quanticGeneratedAnswer.js
Owners: @coveo/knowledge-ui-kit-reviewers

lint fixed
  packages/quantic/force-app/main/default/lwc/quanticGeneratedAnswer/quanticGeneratedAnswer.js
Owners: @coveo/knowledge-ui-kit-reviewers

doc harmonizing
  packages/atomic/src/components/commerce/atomic-product-template/atomic-product-template.mdx
  packages/atomic/src/components/commerce/atomic-product-template/atomic-product-template.ts
Owners: @coveo/dxui

chore(atomic): allow multiple default and named slots (#6107)
  packages/atomic/src/components/commerce/atomic-commerce-search-box/atomic-commerce-search-box.spec.ts
  packages/atomic/src/components/commerce/atomic-commerce-search-box/atomic-commerce-search-box.ts
  packages/atomic/src/components/commerce/atomic-product-link/atomic-product-link.ts
  packages/atomic/src/components/common/generated-answer/generated-answer-common.tsx
  packages/atomic/src/components/common/item-link/attributes-slot.spec.tsx
  packages/atomic/src/components/common/item-link/attributes-slot.ts
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet-suggestions/atomic-insight-smart-snippet-suggestions.tsx
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet/atomic-insight-smart-snippet.tsx
  packages/atomic/src/components/ipx/atomic-ipx-result-link/atomic-ipx-result-link.tsx
  packages/atomic/src/components/search/atomic-search-box/atomic-search-box.tsx
  packages/atomic/src/components/search/result-template-components/atomic-result-link/atomic-result-link.tsx
  packages/atomic/src/components/search/result-template-components/atomic-result-printable-uri/atomic-result-printable-uri.tsx
  packages/atomic/src/components/search/smart-snippets/atomic-smart-snippet-suggestions/atomic-smart-snippet-suggestions.tsx
  packages/atomic/src/components/search/smart-snippets/atomic-smart-snippet/atomic-smart-snippet.tsx
  packages/atomic/src/utils/slot-utils.spec.ts
  packages/atomic/src/utils/slot-utils.ts
Owners: @coveo/dxui, @coveo/knowledge-ui-kit-reviewers

improvements and feedback
  packages/headless/src/controllers/insight/attach-to-case/headless-attach-to-case.ts
  packages/headless/src/controllers/insight/attached-results/headless-attached-results.test.ts
  packages/headless/src/controllers/insight/attached-results/headless-attached-results.ts
  packages/headless/src/features/attached-results/attached-results-state.ts
  packages/headless/src/insight.index.ts
Owners: @coveo/knowledge-ui-kit-reviewers, @coveo/dxui
