Repository coveo/ui-kit, changes with the owners that CODEOWNERS names for each.
All owners: @coveo/search, @coveo/salesforce-integration, @coveo/service-core, @coveo/search-qa, @coveo/service-integrations

CODEOWNERS:

# Default owners for everything in the repo. Later matches take precedence.
* @coveo/search

# Owners of the Quantic package
/packages/quantic/ @coveo/salesforce-integration

# Owners of the Atomic Insight components
/packages/atomic/src/components/insight @coveo/service-core

# Owners of Atomic's Cypress Tests
/packages/atomic/cypress/ @coveo/search @coveo/search-qa

# Owners of Atomic IPX components
/packages/atomic/src/components/ipx @coveo/service-integrations

feat(atomic): added smart snippet components for insight panels (#2908)
  packages/atomic/cypress/integration-insight-panel/insight-panel-actions.ts
  packages/atomic/cypress/integration-insight-panel/insight-panel-selectors.ts
  packages/atomic/cypress/integration-insight-panel/insight-panel.cypress.ts
  packages/atomic/cypress/integration-insight-panel/route-mocks.ts
  packages/atomic/src/components.d.ts
  packages/atomic/src/components/common/smart-snippets/atomic-smart-snippet/smart-snippet-common.tsx
  packages/atomic/src/components/insight/atomic-insight-layout/insight-layout.ts
  packages/atomic/src/components/insight/atomic-insight-query-summary/atomic-insight-query-summary.tsx
  packages/atomic/src/components/insight/index.ts
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet-feedback-modal/atomic-insight-smart-snippet-feedback-modal.pcss
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet-feedback-modal/atomic-insight-smart-snippet-feedback-modal.tsx
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet-suggestions/atomic-insight-smart-snippet-suggestions.pcss
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet-suggestions/atomic-insight-smart-snippet-suggestions.tsx
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet/atomic-insight-smart-snippet.pcss
  packages/atomic/src/components/insight/smart-snippets/atomic-insight-smart-snippet/atomic-insight-smart-snippet.tsx
  packages/atomic/src/pages/examples/insights.html
  packages/headless/src/features/analytics/insight-analytics-actions-loader.ts
  packages/headless/src/insight.index.ts
Owners: @coveo/search, @coveo/search-qa, @coveo/service-core

fix(quantic): fixed bug with the target property of the quantic result link (#2907)
  packages/quantic/force-app/main/default/lwc/quanticResultLink/__tests__/quanticResultLink.test.js
  packages/quantic/force-app/main/default/lwc/quanticResultLink/quanticResultLink.js
Owners: @coveo/salesforce-integration

remove errors, change wording
  packages/atomic/src/components/search/result-template-components/atomic-result-image/atomic-result-image.tsx
Owners: @coveo/search

(insight): added slot
  packages/atomic/src/components.d.ts
  packages/atomic/src/components/insight/atomic-insight-full-search-button/atomic-insight-full-search-button.pcss
  packages/atomic/src/components/insight/atomic-insight-full-search-button/atomic-insight-full-search-button.tsx
  packages/atomic/src/components/insight/atomic-insight-interface/atomic-insight-interface.pcss
  packages/atomic/src/components/insight/atomic-insight-interface/atomic-insight-interface.tsx
  packages/atomic/src/locales.json
  packages/atomic/src/pages/examples/insights.html
Owners: @coveo/search, @coveo/service-core

remove string scope concatenation
  packages/atomic/src/components/search/result-template-components/atomic-result-image/atomic-result-image.tsx
Owners: @coveo/search
